@font-face{
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Velocity";
    src:url("fonts/velocity/velocity-font.ttf") format("truetype"); 
}
@font-face{
    font-family: "Roboto Condensed";
    src: url("fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
}